# General
BASE_URL = 'base_url' # This is the base URL for the application, used for constructing API endpoints and other URLs.

# Backend
BACKEND_PORT = -1 # This is the port number on which the backend server will listen for incoming requests.

# Frontend
FRONTEND_PORT = -1 # This is the port number on which the frontend development server

# Keycloak
KEYCLOAK_URL = 'keycloak_url' # This is the URL of the Keycloak server, used for authentication and authorization.
KEYCLOAK_INTERNAL_URL = 'keycloak_internal_url' # This is the internal URL of the Keycloak server, used for communication between services within a Docker network.
KEYCLOAK_REALM = 'keycloak_realm' # This is the realm in Keycloak that the application will use for authentication.
KEYCLOAK_CLIENT_ID = 'keycloak_client_id' # This is the client ID registered in Keycloak for the application, used for authentication and authorization.

# MongoDB
MONGO_CONNECTION = 'mongo_connection' # This is the connection string for MongoDB, used to connect to the MongoDB database.
MONGO_DATABASE = 'mongo_database' # This is the name of the MongoDB database that the application will use to store data.