services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hypesoft_frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - hypesoft_network

networks:
  hypesoft_network:
    driver: bridge
