.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	gap: 0.5rem;
	white-space: nowrap;

	font-size: 0.875rem;
	font-weight: 500;

	transition: colors 0.2s ease;

	cursor: pointer;
	outline: none;

	border: 1px solid transparent;
	border-radius: 0.375rem;
}

.button:focus-visible {
	outline: 2px solid var(--primary-color);
	outline-offset: 2px;
}

.button:disabled {
	opacity: 0.5;
	pointer-events: none;
}